/* paleta de cores escolhida:
    https://coolors.co/palette/8ecae6-219ebc-046da1-ffb703-fb8500
    https://coolors.co/ffffff-adadad-31363a
fontes do site:
     https://befonts.com/be-vietnam-pro-font-family.html */


:root {
/* paleta de cores*/
/* coloridas */
    --tangerine: rgb(251, 133, 0);
    --selective-yellow: rgb(255, 183, 3);
    --honolulu-blue: rgb(4, 109, 161);
    --blue-green: rgb(33, 158, 188);
    --light-cornflower-blue: rgb(142, 202, 230);
/* branco, preto e cinza */
    --white: rgb(255, 255, 255);
    --onyx: rgb(49, 54, 58);
    --silver-chalice: rgb(173, 173, 173);
/* pretos rgba */
    --black_06: rgba(0, 0, 0, 0.06);
    --black_12: rgba(0, 0, 0, 0.12);

/* tipografias */

    --ff-vietnam: "Be Vietnam Pro", sans-serif;

    --fs-1: 1.563rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 1.078rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.844rem;
    --fs-9: 0.813rem;
    --fs-10: 0.769rem;

    --fw-500: 500;
    --fw-600: 600;

/* animacoes */

    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.45, 0.85, 0.5, 1);
    --cubic-in: cubic-bezier(0.5, 0, 0.50, 0.95);

/* radius */

    --radius-6: 6px;

    /* sombras */

    --shadow-1: 0 12px 20px rgba(53, 59, 65, 0.07);
    --shadow-2: 0 2px 10px rgba(0, 0, 0, 0.04);
    --shadow-3: 0 2px 20px rgba(0, 0, 0, 0.06);

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a { text-decoration: none; }

a,
img,
span,
data,
time,
input, 
button {
    font: inherit; 
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

html {
    font-family: var(--ff-vietnam);
    scroll-behavior: smooth;
}

body {    
    padding-block-start: 72px;
    background: var(--white);
}

::-webkit-scrollbar {width: 10 px;}

::-webkit-scrollbar-track {background: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb {background: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover {background: hsl(0, 0%, 70%); }

/* --------------------------------- */

form {
    background-color: var(--white);
    max-width: 500px;
    /*border-radius: var(--radius-6);*/
    width: 70%;
    padding: 20px;
    /* posicionando */
    position: absolute;
    left: 50%;
    top: 50% ;
    transform: translate(-50%, -50%); 
    /* 50 deixa a ponta esquerda-cima no meio, e o outro 50 corta ela na metade*/
    
}

form h3 {
    text-align: center;
    font-size: var(--fs-1);
    font-weight: var(--fw-600);
    color: var(--onyx);
    padding-bottom: 10px;
}

form input[type=text],  
form input[type=password]{
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius: var(--radius-6);
    margin: 5px 0;    
}


.bar {
    background-color: var(--black_12);
    position: relative;
    top: 0;
    height: 1px;
    margin: 5px;
  }

#formCard .loginBtn{
    text-align: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: var(--blue-green);
    color: var(--white);
    border-radius: var(--radius-6);
    margin-top: 5px;
    transition: var(--transition);
  }
  
  #formCard .loginBtn:hover{
      background-color: var(--tangerine);
  }

#formCard .createAccount{
    text-align: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: var(--silver-chalice);
    color: var(--white);
    border-radius: var(--radius-6);
    margin-top: 5px;
    transition: var(--transition);
  }
  
  #formCard .createAccount:hover{
      background-color: var(--tangerine);
  }