/* paleta de cores escolhida:
    https://coolors.co/palette/8ecae6-219ebc-046da1-ffb703-fb8500
    https://coolors.co/ffffff-adadad-31363a
fontes do site:
     https://befonts.com/be-vietnam-pro-font-family.html */


:root {
/* paleta de cores*/
/* coloridas */
    --tangerine: rgb(251, 133, 0);
    --selective-yellow: rgb(255, 183, 3);
    --honolulu-blue: rgb(4, 109, 161);
    --blue-green: rgb(33, 158, 188);
    --light-cornflower-blue: rgb(142, 202, 230);
/* branco, preto e cinza */
    --white: rgb(255, 255, 255);
    --onyx: rgb(49, 54, 58);
    --silver-chalice: rgb(173, 173, 173);
/* pretos rgba */
    --black_06: rgba(0, 0, 0, 0.06);
    --black_12: rgba(0, 0, 0, 0.12);

/* tipografias */

    --ff-vietnam: "Be Vietnam Pro", sans-serif;

    --fs-1: 1.563rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 1.078rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.844rem;
    --fs-9: 0.813rem;
    --fs-10: 0.769rem;

    --fw-500: 500;
    --fw-600: 600;

/* animacoes */

    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.45, 0.85, 0.5, 1);
    --cubic-in: cubic-bezier(0.5, 0, 0.50, 0.95);

/* radius */

    --radius-6: 6px;

 /* sombras */

    --shadow-1: 0 12px 20px rgba(53, 59, 65, 0.07);
    --shadow-2: 0 2px 10px rgba(0, 0, 0, 0.04);
    --shadow-3: 0 2px 20px rgba(0, 0, 0, 0.06);

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
data,
time,
input, 
button {
    font: inherit; 
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

html {
    font-family: var(--ff-vietnam);
    scroll-behavior: smooth;
}

body {
    padding-block-start: 72px;
    background: rgba(255, 255, 255, 0.990);
}

:focus-visible {
    outline: 2px solid var(--onyx);
    outline-offset: 1px;
}

::-webkit-scrollbar {width: 10 px;}

::-webkit-scrollbar-track {background: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb {background: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover {background: hsl(0, 0%, 70%); }


.cointainer { padding-inline: 15px; }

.icon-box { font-variation-settings: 'wght' 300;}

.icon-box .icon { font-size: 22px; }

.header {
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    padding-block: 20px;
    overflow: hidden;
    transition: 0.3s var(--cubic-in);
    box-shadow: var(--shadow-3);
    z-index: 1;
}

.header.active {
    height: 370px;
    transition: 0.5s var(--cubic-out);
}

.header> .cointainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: var(--fs-1);
    font-weight: var(--fw-600);
    color: var(--onyx)
}

.menu-toggle-btn .icon { font-size: 28px;}

.navbar { 
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s var(--cubic-out);
}

.header.active .navbar {
    opacity: 1;
    visibility: visible;    
}

.navbar-list {
    padding-inline: 15px;
    margin-bottom: 15px;
}

.navbar-link {
    color: var(--onyx);
    font-size: var(--fs-6);
    font-weight: var(--fw-500);
    display: flex;
    gap: 5px;
    padding: 10px;
    border-radius: var(--radius-6);

}

:is(.navbar-link, .notification, .header-profile):is(:hover, :focus) { background: var(--tangerine) }

.navbar-link.active { color: var(--honolulu-blue); }

.user-action-list {
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

}

.notification {
    color: var(--onyx);
    padding: 8px;
    border-radius: 6px;
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.profile-avatar {
    overflow: hidden;
    border-radius: var(--radius-6)    
}

.header :is(.profile-title, .profile-subtitle) { font-size: var(--fs-9); }

.header .profile-title {
    color: var(--onyx);
    margin-bottom: 2px;
    font-weight: var(--fw-600);
}

.header .profile-subtitle {
    color: var(--silver-chalice);
    font-weight: var(--fw-500);
}

